.categories{
    position:sticky;
    top:0;
    max-width:123.1rem;
    height:5rem;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    margin-left:5.21%;
    overflow-x:auto;
    scrollbar-width: none; /* для Firefox */
    -ms-overflow-style: none; /* для IE и Edge */
    -webkit-scrollbar {
        display: none; /* для WebKit */
    };
    margin-bottom:5rem;
}

.categories__inner{
    display: flex;
    gap:2.4rem;
    height:4rem;
    align-items: center;
}

.categories__item{
    display:flex;
    gap:0.8rem;
    background-color:var(--white-color);
    border-radius: 5rem;
    align-items: center;
    font-size:1.6rem;
    padding-left:1.4rem;
    padding-right: 1.4rem;
    cursor: pointer;
    white-space: nowrap; /*запрещает перенос строк*/
    line-height: 0.5;
}

.active{
    background-color:var(--yellow-color);
    transition:0.5s;
}