header{
    width:100%;
    height:46.6rem;
    background-image: url("../../assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
}

.header__logo{
    margin:0 auto;
}

.header__inner{
    display:flex;
    margin:0 auto;
    margin-top:2%;
}
.header__title{
    width:43.7rem;
    margin-top:5%;
    font-size:2.5rem;
    line-height: 1.2;
}
.header__burgerImg{
    display:block;
    width:32.6rem;
    height:32.6rem;
}